body{
    background-color: red;
}
.head{
    display: flex;
}
.head{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
/*Debut navigation*/
.navig li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
    nav.navig ul {
    background-color:#64abfb;
    padding:0;
    margin:0;
    }
    nav.navig ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#64abfb;
    }
    nav.navig ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
    .navig li a:hover {
    border-bottom:3px #FFF solid;
    }
    nav.navig ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
    nav.navig ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    }
    nav.navig ul li:hover ul li {
    float:none;
    }
/*Fin navigation*/


.logo {
    width: 50%;
    height: 50%;

}
