</body>
<footer>
    <p>Projet developpé par Yoann BELLAIRE, Nathan LEFEVRE, Houssam HOUSSAMEDIN et Antonin PEZIERE.</p>
    <div><a href="condition.html">Conditions Générales</a> <a href="support.html">Support</a></div>
</footer>

</html>